.body {
  background: var(--blue);
  height: 100%;
  color: var(--or);
  overflow-y: scroll;
  scrollbar-width: 1px;
  /* Pour tout élément avec une scrollbar */
&::-webkit-scrollbar {
  width: 5px; /* Largeur de la scrollbar verticale */
}

/* Le track de la scrollbar (fond) */
&::-webkit-scrollbar-track {
  background: var(--blue); 
}

/* La poignée de la scrollbar */
&::-webkit-scrollbar-thumb {
  background: var(--or); 
  border-radius: 10px;
}

/* Lorsque vous survolez la poignée de la scrollbar */
&::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

  main{
    max-width: 1440px;
    margin: auto;
    min-height: calc(100vh - 12vh);
  }
}
.navBar {
  box-shadow:  0px 2px 5px var(--or) ;
}
