.body {
  background: var(--main-bg-color);
  height: 100%;
  color: var(--or);
  main{
    max-width: 1440px;
    margin: auto;
    min-height: calc(100vh - 8vh);
  }
}
.navBar {
  box-shadow:  0px 2px 5px var(--or) ;
}
